<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>489456063105-lkiiimg9m2t598aok9j0u1qtvoa6ilfu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.489456063105-lkiiimg9m2t598aok9j0u1qtvoa6ilfu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>489456063105-l0k1uvdc23dtq85c8gmjjhefjtukaa1g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCPG8pk9G4ILu6gdcphLVq2tiLo0GXfP14</string>
	<key>GCM_SENDER_ID</key>
	<string>489456063105</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gallerium</string>
	<key>PROJECT_ID</key>
	<string>gallerium-2323</string>
	<key>STORAGE_BUCKET</key>
	<string>gallerium-2323.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:489456063105:ios:1f28a486fba82830e5b380</string>
</dict>
</plist>